####CSC 478 Project Proposal (Autumn 2017)

####Name: 
Kevin Kai Chung Ying

####Date:
Oct/21/2017

####Application:
Recommendation System

####Brief description of dataset:
The Datasets were donated by KKBox through Kaggle.com. There are 5 different datasets are provided including 1 train, 1 test, 1 songs , 1 songs extra info, members dataset. The song list includes about 2.6 mil of songs track with songs’s length, gene_id, artist_name, composer, lyricist, language. KKBox is an Asia’s leading music streaming service holds about 30 million song track Asia-pop music library. The purpose of particular dataset donation aims to look for a better recommendation system for music engine for their new customers. The potential analysis target is to predict which songs would be users’ favorite and chance to repetitively listen the SAME song within a month. The provided dataset also includes a member info table which contains members’ location, gender, register channel, register date and expiration date.

####Classification Target
•	Target=1 means user is repetitively listening SAME event(s) triggered within a month after the very first observable listening event. 
•	Target=0 means otherwise.

####Attributes from Training and Testing Set
•	6 Attributes in the Dataset
o	user_id (Char), song_id (Char),  source_system_tab(char, 2 variations), source_screen_name (char, 2 variations), source_type(char, 2 variations)
•	7377418 rows of Records on the Training dataset
•	The aggregation of tables will be necessary for the analysis.

####Algorithm still not confirmed, will depends on the accuracy.
•	KNN (User-based / Item-based / Content Based Collaborative System)
•	Correlation between users
•	Cosine Similarity
•	MAE or RMSE Evaluation

In [ ]:
import numpy as np
import pandas as pd
import urllib, time, json, sqlite3

In [ ]:
music_train=pd.read_csv('./Data/Music/train.csv')

In [ ]:
music_train = music_train.reindex(np.random.permutation(music_train.index))

In [ ]:
music_train_10=music_train[0:150000]
print(music_train_10.shape)
music_train.head(10)

In [ ]:
songs=pd.read_csv('./Data/Music/songs.csv')

In [ ]:
members=pd.read_csv('./Data/Music/members.csv')

In [ ]:
train_df_dummies=pd.get_dummies(music_train_10[['source_system_tab','source_screen_name','source_type']])
train_df_dummies.head(5)

In [ ]:
from sklearn.cross_validation import train_test_split

train_target=music_train_10['target']

train_80,test_20,target_train_80,target_test_20=train_test_split(train_df_dummies,
                                                                 train_target,
                                                                 test_size=0.2, 
                                                                 random_state=28)

In [ ]:
print(train_80.shape)
train_80.head()

In [ ]:
print(target_train_80.shape)
target_train_80.head()

In [ ]:
print(test_20.shape)

In [ ]:
print(target_test_20.shape)

In [ ]:
#We will us KNN classifier 
from sklearn import neighbors, tree, naive_bayes

In [ ]:
start=time.time()
n_neighbors=10
knnclf = neighbors.KNeighborsClassifier(n_neighbors, weights='distance')
knnclf.fit(train_80, target_train_80)
end=time.time()

In [ ]:
predict_y=knnclf.predict(test_20)

In [ ]:
#Generate the Classification Report
#Generate the precision, recall, F1 score for each class
from sklearn.metrics import classification_report
print(classification_report(target_test_20, predict_y))

In [ ]:
#Generate confustion matrix 
#(true negatives is C_{0,0}, false negatives is C_{1,0}, 
# true positives is C_{1,1} and false positives is C_{0,1})
from sklearn.metrics import confusion_matrix
knncm = confusion_matrix(np.array(target_test_20), predict_y)
print (knncm)

In [ ]:
type(target_test_20

In [ ]:
type(predict_y)

In [ ]:
#The average Accuracy score across the test instances
print (knnclf.score(test_20, target_test_20))

In [ ]:
#The average accuracy score across the train instances to observe it is over-fit or under fit
print (knnclf.score(train_80, target_train_80))

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
#Generate the plot for confusion matrix
plt.matshow(knncm)
plt.colorbar()
plt.title('KNN Confusion Matrix')
plt.xlabel('Predict')
plt.ylabel('Actual')

plt.show()

In [ ]:
import sqlite3
from sqlite3 import OperationalError
import urllib, time, json, sqlite3

In [ ]:
train='''Create Table Train(
    customer_id VARCHAR(100),
    song_id VARCHAR(100),
    source_system_tab VARCHAR(20),
    source_screen_name VARCHAR(30),
    source_type VARCHAR(30),
    Target integer(2),
    
    CONSTRAINT Train_PK Primary Key (customer_id, song_id)

)
'''


mem='''Create Table Members(

    customer_id VARCHAR(100),
    city INTEGER(5),
    age INTEGER(5),
    gender VARCHAR(2),
    registered_via integer(10),
    reg_time VARCHAR(2),
    exp_date VARCHAR(2),
 
    CONSTRAINT Members_PK PRIMARY KEY (customer_id)
)
'''

songs='''Create Table Songs(
    
    song_id VARCHAR(100),
    song_length INTEGER(20),
    genre_ids INTEGER(20),
    artist_name VARCHAR(100),
    composer VARCHAR(100),
    lyricist VARCHAR(100),
    language INTEGER(10),
    
    CONSTRAINT Songs_PK PRIMARY KEY (song_id)
)
'''

In [ ]:
conn=sqlite3.connect('project.db')
c=conn.cursor()

c.execute('Drop Table  if exists Train;')
c.execute(train)

c.execute('Drop Table  if exists Members;')
c.execute(mem)

c.execute('Drop Table  if exists Songs;')
c.execute(songs)

conn.commit()
conn.close()

In [ ]:
start=time.time()
count=0
source=open ('./Data/Music/train.csv')
train_lst=[]

content=source.read()
lines=content.strip().split('\n')

for line in lines:
    line=line.strip().split(',')
    train_lst.append(line)
    count+=1

train_lst=train_lst[1:] #Skip the first row(attributes)    
end=time.time()
end-start

In [ ]:
len(train_lst)

In [ ]:
start=time.time()
count=0
source=open ('./Data/Music/members.csv')
members_lst=[]

content=source.read()
lines=content.strip().split('\n')

for line in lines:
    line=line.strip().split(',')
    members_lst.append(line)
    count+=1

members_lst=members_lst[1:] #Skip the first row(attributes)    
end=time.time()
end-start

In [ ]:
len(members_lst)

In [ ]:
start=time.time()
count=0
source=open ('./Data/Music/songs.csv')
songs_lst=[]

content=source.read()
lines=content.strip().split('\n')

for line in lines:
    line=line.strip().split(',')
    songs_lst.append(line)
    count+=1

songs_lst=songs_lst[1:] #Skip the first row(attributes)    
end=time.time()
end-start

In [ ]:
songs_lst[0:50]

In [ ]:
start=time.time()
mem_name_lst=[]
song_name_lst=[]
for i in range(len(members_lst)):
    mem_name_lst.append(members_lst[i][0])
    
for i in range(len(songs_lst)):
    song_name_lst.append(songs_lst[i][0])

mem_name_lst=np.array(mem_name_lst)
song_name_lst=np.array(song_name_lst)

cust_songs_tbl=pd.DataFrame(0,index=mem_name_lst,columns=song_name_lst)
cust_songs_tbl.shape

end=time.time()
end-start

In [ ]:
songs_lst[0:5]

In [ ]:
try:
cust_songs_tbl.ix[train_lst[i][0]][train_lst[i][1]]=
cust_songs_tbl
train_lst[0][0]

In [ ]:
start=time.time()
conn=sqlite3.connect('project.db')
c=conn.cursor()
c.executemany('INSERT OR IGNORE INTO Members VALUES (?,?,?,?,?,?,?);', members_lst)        
conn.commit()
end=time.time()
end-start

In [ ]:
count=0
for line in songs_lst:
    try:
        c.execute('INSERT OR IGNORE INTO Songs VALUES (?,?,?,?,?,?,?);', line)
        count+=1
    except:
        print(count)
conn.commit()

In [ ]:
c.executemany('INSERT OR IGNORE INTO Train VALUES (?,?,?,?,?,?);', train_lst)
conn.commit()

In [ ]:
songs_lst[605199]

In [261]:
start=time.time()
query1='''select T.customer_id, T.Song_id, T.source_system_tab,T.source_screen_name, T.source_type,
M.city, M.age, M.gender,M.registered_via, M.reg_time, exp_date,
s.genre_ids,s.song_length,s.language,s.artist_name,s.composer, s.lyricist, T.target
from Train T 
left Join Members M on T.customer_id=M.customer_id
Left join songs s on s.song_id=t.song_id;
'''


query2="Select * from Train"
#query3="select * from songs where artist_name='俞隆華'"
#query4="Select * from Members"
pd.read_sql_query(query1, conn).to_csv('query1.csv', index=True)
end=time.time()
start-end

-576.3770248889923

In [262]:
tbl=pd.read_csv('''query1.csv''', na_values=["?"])
tbl.shape

(7377418, 19)

In [263]:
tbl.head(3)

,Unnamed: 0,customer_id,song_id,source_system_tab,source_screen_name,source_type,city,age,gender,registered_via,reg_time,exp_date,genre_ids,song_length,language,artist_name,composer,lyricist,Target
0,0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,0,NaN,7,20120102,20171005,359,206471.0,52.0,Bastille,Dan Smith| Mark Crew,NaN,1
1,1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,13,24,female,9,20110525,20170911,1259,284584.0,52.0,Various Artists,NaN,NaN,1
2,2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,13,24,female,9,20110525,20170911,1259,225396.0,52.0,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,1

In [264]:
tbl.drop(tbl[tbl['genre_ids'].isnull()].index,axis=0,inplace=True)

In [265]:
tbl.drop(tbl[tbl['gender'].isnull()].index,axis=0,inplace=True)

In [266]:
tbl.drop(tbl[tbl['age']==0].index,axis=0,inplace=True)

In [267]:
tbl.drop(tbl[tbl['age']>144].index,axis=0,inplace=True)

In [268]:
tbl['age']=pd.qcut(tbl.age,[0, .25, .5, .75, 1.],['child','young','mid-age','old'])

In [269]:
tbl['song_length']=pd.qcut(tbl.song_length,[0, .25, .5, .75, 1.],['short','med_short','mid_long','long'])

In [270]:
tbl.drop('Unnamed: 0',axis=1,inplace=True)
tbl.drop('customer_id',axis=1,inplace=True)
tbl.drop('song_id',axis=1,inplace=True)
tbl.drop('reg_time',axis=1,inplace=True)
tbl.drop('exp_date',axis=1,inplace=True)
tbl.drop('genre_ids',axis=1,inplace=True)
tbl.drop('artist_name',axis=1,inplace=True)
tbl.drop('composer',axis=1,inplace=True)
tbl.drop('lyricist',axis=1,inplace=True)

In [272]:
tbl.head(40)

,source_system_tab,source_screen_name,source_type,city,age,gender,registered_via,song_length,language,Target
1,my library,Local playlist more,local-playlist,13,young,female,9,long,52.0,1
2,my library,Local playlist more,local-playlist,13,young,female,9,med_short,52.0,1
3,my library,Local playlist more,local-playlist,13,young,female,9,mid_long,-1.0,1
6,my library,Local playlist more,local-playlist,13,young,female,9,med_short,31.0,1
8,my library,Local playlist more,local-library,15,young,male,9,long,52.0,1
9,my library,Local playlist more,local-library,15,young,male,9,mid_long,52.0,1
10,my library,Local playlist more,local-library,15,young,male,9,med_short,52.0,1
11,my library,Local playlist more,local-library,15,young,male,9,med_short,3.0,1
19,my library,Local playlist more,local-library,9,young,female,9,med_short,3.0,1
20,my library,Local playlist more,local-library,9,young,female,9,short,3.0,1
21,my library,Local playlist more,local-library,9,young,female,9,mid_long,3.0,1
22,my library,Local playlist more,local-library,9,young,female,9,mid_long,3.0,1
23,my library,Online playlist more,online-playlist,15,child,male,4,short,52.0,1
24,my library,Online playlist more,online-playlist,15,child,male,4,long,52.0,0
25,my library,Online playlist more,online-playlist,15,child,male,4,short,52.0,0
26,my library,Online playlist more,online-playlist,15,child,male,4,long,52.0,0
32,my library,Local playlist more,local-library,13,old,male,9,short,3.0,1
34,my library,Local playlist more,local-library,21,child,female,7,short,52.0,0
35,my library,Local playlist more,local-library,21,child,female,7,med_short,52.0,0
36,my library,Local playlist more,local-library,21,child,female,7,mid_long,-1.0,0
37,my library,Local playlist more,local-library,21,child,female,7,mid_long,52.0,1
38,my library,Local playlist more,local-library,13,child,male,4,mid_long,3.0,1
39,my library,Local playlist more,local-library,15,young,male,7,long,3.0,1
40,my library,Local playlist more,local-library,15,young,female,9,short,3.0,1
41,my library,Local playlist more,local-library,15,young,female,9,mid_long,3.0,1
42,my library,Local playlist more,local-library,15,young,female,9,long,3.0,0
43,my library,Local playlist more,local-library,15,young,female,9,short,3.0,1
56,my library,Local playlist more,local-playlist,13,young,female,3,short,31.0,1
57,my library,Local playlist more,local-playlist,13,young,female,3,med_short,31.0,1
58,my library,Local playlist more,local-playlist,13,young,female,3,short,17.0,1
59,my library,Local playlist more,local-playlist,13,young,female,3,short,31.0,1
60,my library,Local playlist more,local-library,13,mid-age,male,3,mid_long,52.0,1
61,my library,Local playlist more,local-library,13,mid-age,male,3,short,52.0,1
63,discover,Unknown,online-playlist,15,old,male,3,short,3.0,0
64,my library,Local playlist more,local-library,5,mid-age,female,4,long,3.0,1
65,discover,Unknown,online-playlist,15,old,male,3,mid_long,3.0,0
70,my library,Local playlist more,local-library,5,mid-age,female,4,long,3.0,1
76,my library,My library,local-playlist,22,mid-age,female,7,long,3.0,1
77,my library,Local playlist more,local-library,13,old,female,9,med_short,31.0,1
78,my library,Local playlist more,local-library,13,old,female,9,med_short,17.0,1

In [239]:
df=pd.DataFrame([2,30,50])
df[df[0]<10]=3


df[0]=pd.qcut(df[0],[0, .25, .5, .75, 1.],['child','young','mid-age','old'])

In [273]:
set(tbl.language)

{-1.0, 3.0, 10.0, 17.0, 24.0, 31.0, 38.0, 45.0, 52.0, 59.0}